<a href="https://colab.research.google.com/github/joaoramos23/Python-Nocoes-Introdutorias/blob/main/Python_No%C3%A7%C3%B5es_Introdut%C3%B3rias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Revisão de Python e Noções Basicas
Algoritmos são constituidos:
1.   Entrada de dados.
2.   Processamento dos dados.
3.   Saída dos dados.

In [ ]:
# Exemplo Entrada de dados:
nome_entrada = str(input("Digite seu nome:"))

Digite seu nome:joao

In [ ]:
# Exemplo Saída de dados:
print(nome_entrada)

joao

### Operações Matemáticas:
```
*   Soma: +
*   Subtração: -
*   Multiplicação: *
*   Divisão: /
*   Divisão inteira: //
*   Resto da divisão: %
*   Potência: **   
```

In [ ]:
numero_1 = 10
numero_2 = 3

print(numero_1 + numero_2)
print(numero_1 - numero_2)
print(numero_1 * numero_2)
print(numero_1 / numero_2)
print(numero_1 // numero_2)
print(numero_1 % numero_2)
print(numero_1 ** numero_2)

13
7
30
3.3333333333333335
3
1
1000

### Operações Booleanos:
```
*   >: Maior que
*   <: Menor que
*   >=: Maior que ou igual
*   <=: Menor que ou igual
*   ==: Igual
*   !=: Diferente
```

In [ ]:
altura_1 = 3.10
altura_2 = 1

print(altura_1 > altura_2)
print(altura_1 < altura_2)
print(altura_1 >= altura_2)
print(altura_1 <= altura_2)
print(altura_1 == altura_2)
print(altura_1 != altura_2)
print("Python" == "python")
print("Pythonn" > "PYTHON")
print("Pythonn" < "PYTHON")

True
False
True
False
False
True
False
True
False

### Conversões de Tipo:

```
*   int() -> Inteiro
*   str() -> String
*   float() -> Decimal
*   bool() -> Booleano
```

In [ ]:
numero = '1'
boolean = 'True'

print(numero, type(numero))
print(boolean, type(boolean))

# Testando Conversões de Tipo:
print("Testando Conversões de Tipo:")
print(str(numero), type(str(numero)))
print(int(numero), type(int(numero)))
print(float(numero), type(float(numero)))
print(bool(boolean), type(bool(boolean)))

1 <class 'str'>
True <class 'str'>
Testando Conversões de Tipo:
1 <class 'str'>
1 <class 'int'>
1.0 <class 'float'>
True <class 'bool'>

# Estruturas Condicionais:

*   if - elif - else
*   while
*   for

In [ ]:
idade = 13

if idade < 13:
  print("Criança")
elif idade >= 13 and idade < 18:
  print("Adolescente")
else:
  print("Adulto")

Adolescente

In [ ]:
numero_sorteado = 8

verificador = True

while verificador:

  numero_escolhido = int(input("Digite um numero de 1 - 10:"))
  if numero_sorteado == numero_escolhido:
    verificador = False
    print("Você acertou!")
  else:
    print("Você errou, tente novamente.")

Digite um numero de 1 - 10:5
Você errou, tente novamente.
Digite um numero de 1 - 10:6
Você errou, tente novamente.
Digite um numero de 1 - 10:8
Você acertou!

In [ ]:
numeros = [1,4,5,6,9]
soma = 0
for i in numeros:
  soma += i

print(soma)
print(sum(numeros))

25
25

### Estrutura de Dados:

*  Lista = []
*  Tupla = ()
*  Dicionario = {}

In [65]:
lista = [1,5,9.6]

# Lista -> Slices:

lista[::-1]

[9.6, 5, 1]

In [66]:
lista.append(3)
lista

[1, 5, 9.6, 3]

In [67]:
lista.insert(3,10)
lista

[1, 5, 9.6, 10, 3]

In [68]:
lista.index(max(lista))

3

In [69]:
lista

[1, 5, 9.6, 10, 3]

In [70]:
item_removido = lista.remove(1)
lista

[5, 9.6, 10, 3]

In [82]:
import time

# Desafio ordernar lista sem utilizar sort():

lista_desordenada = [4,3,1,8,2,3,11,9]

verificar = True

while verificar:
  verificar_2 = True
  for i in range(len(lista_desordenada) - 1):
    if (lista_desordenada[i] > lista_desordenada[i + 1]):
        lista_desordenada[i], lista_desordenada[i + 1] = lista_desordenada[i + 1], lista_desordenada[i]
        verificar_2 = False
  if (verificar_2 == True):
    verificar = False

lista_desordenada

0
1
2
3
4
5
6
0
1
2
3
4
5
6
0
1
2
3
4
5
6
0
1
2
3
4
5
6

[1, 2, 3, 3, 4, 8, 9, 11]

### Funções:

In [85]:
def contar_lista(lista = []):
  contador = 0
  for i in lista:
    contador += 1

  return contador

In [87]:
lista_contar = [1,2,3,23,1,213,123,12]
contagem = contar_lista(lista_contar)
contagem

8

### Dicionários:

In [90]:
dicionario = {'nome':'joao','idade':25,'altura':1.75}
dicionario

{'nome': 'joao', 'idade': 25, 'altura': 1.75}

In [91]:
dicionario['analista de dados'] = True
dicionario

{'nome': 'joao', 'idade': 25, 'altura': 1.75, 'analista de dados': True}

In [101]:
for i,j in dicionario.items():
  print(i,j)

nome joao
idade 25
altura 1.75
analista de dados True

In [98]:
'joao' in dicionario.values()

True